.wrapfoursquare
  max-width: 1300px
  margin: auto
  padding: 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  @media(max-width: $lg)
    display: block
  .article-head, .article
    flex: 1 55%
    margin: 20px 0
    padding-right: 20px
  .sidebar1,   .sidebar2
    flex: 1
