.slim-footer
  background-color:  c-lt-gray
  padding: 20px
  margin-top: 20px
  .top
    @media(min-width: $md)
      display: flex
      justify-content: space-between
    @media(min-width: $md)
      li:nth-child(-n+6):after
        content: " | "
  .subnav
    @media(min-width: $md)
      flex: 1 60%
      li
        float: left
  .SAMHDA
    flex: 1 40%
    display: flex
    padding-top: 20px
    img
      flex: 1
      padding-right: 10px
    p
      flex: 2

    @media(min-width: $md)
      padding: 0
  .copyright
    font-size: 13px
    line-height: 14px

.report-footer
  font-size: 14px
  line-height: 16px
  p:nth-child(2)
    margin: 0
    padding: 0
