div.collections
  include samhda
  h3 Learn more about our data collections
  ul.showbullets
      each val in ["NSDUH | Data On Household Substance Use and Mental Health", "TEDS | Data on Treatment Admissions and Discharges", "NMHSS | Data on Mental Health Facilities", "NSSATS | Data on Substance Acuse Facilities", "DAWN | Data from Emergency Departments"]
        li= val
  div.request Request Data 
    br 
    | Ask for Help
