include ../layouts/global/mixins

div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('a');")
    +fa("fa fa-caret-down fa-lg")
div.filter#a
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('b');")
    +fa("fa fa-caret-down fa-lg")
div.filter#b
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('c');")
    +fa("fa fa-caret-down fa-lg")
div.filter#c
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('d');")
    +fa("fa fa-caret-down fa-lg")
div.filter#d
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('e');")
    +fa("fa fa-caret-down fa-lg")
div.filter#e
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('f');")
    +fa("fa fa-caret-down fa-lg")
div.filter#f
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


div.filter-menu
  h4 FAQ Question -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  a( onclick="toggle_visibility('g');")
    +fa("fa fa-caret-down fa-lg")
div.filter#g
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
