div.home-gethelp
  div.gethelp
    h4 Find a treatment center
    div.content
      div.form
        input.txt(type="text", placeholder="Enter your city or zip code")
        a.btn.btn-large Go
      div.more
        p Get more information about our 
          a Behavioral Health Treatment Services Locator
