div.latest-release
  p.title
    a(href="shortreport.html") State Estimates of Past Year Cocaine Use Among Young Adults: 2014 and 2015
  p.meta Data Collection: National Survey on Drug Use and Health -- 2014
  p.title 2014 National Survey on Drug Use and Health: Mental Health Estimates Computed Directly from the Clinical Sample of the Mental Health Surveillance Study and Measures of their Standard Errors
  p.meta Data Collection: National Survey on Drug Use and Health -- 2014
  p.title Key Substance Use and Mental Health Indicators in the United States: Results from the 2015 National Survey on Drug Use and Health
  p.meta Data Collection: National Survey on Drug Use and Health -- 2015
  p.title 1.5 Million Adults Have Serious Mental Illness and Misused Opioids In the Past Year
  p.meta Spotlight | Data Collection: National Survey on Drug Use and Health -- 2015
  p.title Temporal Patterns of Emergency Department Visits Related to Underage Drinking
  p.meta Short Report | Data Collection: Dawn Abuse Warning Network -- 2004 - 2011
  p.title Women of Childbearing Age and Opioids
  p.meta Short Report | Data Collection: Center for Behavioral Health Statistics and Quality -- 2007 - 2012
  p
  p
    a View All Reports
  
