div.samhda
  h3 Did you know?
  div.samhda-content
    div.samhda-logo
      img(src="stuff/img/samhda.png")
    p You can access the files and information used in our analysis. 
      a See our Data Archive 
      | for more resources.
