body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:757px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1F419A;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:55px;
  width:400px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1F419A;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  white-space:nowrap;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:145px;
  width:300px;
  height:840px;
  font-size:16px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1B6985;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:162px;
  width:300px;
  height:447px;
  font-size:16px;
  color:#1B6985;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:152px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:202px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:276px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:332px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:439px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:386px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:510px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:583px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:653px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:725px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:794px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:868px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:945px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:152px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:223px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:295px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:366px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:439px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:510px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:583px;
  width:258px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
