html {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.icon {
  max-width: 1rem;
  padding: 0 0.3125rem 5px;
  filter: grayscale(1);
}
.grid {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .grid {
    display: block;
  }
}
.grid-col {
  flex: 1;
  padding: 1.25rem;
}
@media (max-width: 500px) {
  .grid-col {
    padding: 0;
  }
}
body {
  margin: 0;
  max-width: 100%;
}
.wrap {
  padding: 1.25rem;
  max-width: 1300px;
  margin: auto;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  margin: 0.3125rem 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
}
h1 {
  font-size: 2rem;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.625rem;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.375rem;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1.125rem;
}
p {
  margin: 1.5rem 0;
}
.small--text {
  font-size: 75%;
}
a {
  color: #3071e7;
  text-decoration: none;
}
a:hover {
  color: #154db3;
}
.helptext {
  font-style: italic;
  font-size: 85%;
}
.btn,
.btn-large,
.btn-buy {
  background-color: #3071e7;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 1em;
  transition: all 0.5s ease;
}
.btn:hover,
.btn-large:hover,
.btn-buy:hover {
  transition: all 0.5s ease;
  background-color: #fff;
  border: 1px solid #3071e7;
  color: #3071e7;
}
.btn-large {
  font-size: 1.25rem;
}
.btn-buy {
  background: url("/stuff/img/usd-circle-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3071e7;
  padding-left: 40px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: Source Sans Pro, sans-serif; /* 1 */
  color: #808080;
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 5px; /* 2 */
  padding: 5px;
  border: 1px solid #808080;
}
ol li {
  display: list-item;
  margin-left: 1.5rem;
}
ul.showbullets li {
  display: list-item;
  margin-left: 1.5rem;
}
div.nsduh {
  display: flex;
  margin-top: 2em;
  font-weight: bold;
}
@media (min-width: 800px) {
  div.nsduh {
    flex-direction: row;
    margin-left: 5em;
    margin-top: 2em;
  }
  div.nsduh div.section1 {
    flex: 1;
    text-align: left;
    font-size: 1em;
  }
  div.nsduh div.section2 {
    flex: 3;
    text-align: left;
    font-size: 1.4em;
    margin-left: 6em;
  }
}
@media (max-width: 800px) {
  div.nsduh {
    flex-direction: column;
    margin-left: 2em;
    margin-top: 2em;
  }
  div.nsduh div.section1 {
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 2em;
  }
  div.nsduh div.section2 {
    flex: 3;
    text-align: left;
    font-size: 1.2em;
    margin-top: 2em;
    margin-right: 2em;
  }
}
.wrapcol {
  max-width: 1300px;
  margin: auto;
  padding: 1.25rem;
  display: flex;
}
.wrapcol .articlecol {
  flex: 2;
  order: 2;
}
.wrapcol .sidebarright {
  flex: 1;
  order: 3;
}
.wrapcol .sidebarleft {
  flex: 1;
  order: 1;
}
.footer {
  background-color: #808080;
  color: #fff;
  height: 20px;
  padding: 20px;
}
.wrapfoursquare {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .wrapfoursquare {
    display: block;
  }
}
.wrapfoursquare .article-head,
.wrapfoursquare .article {
  flex: 1 55%;
  margin: 20px 0;
  padding-right: 20px;
}
.wrapfoursquare .sidebar1,
.wrapfoursquare .sidebar2 {
  flex: 1;
}
@media (min-width: 500px) {
  .smheader {
    display: none;
  }
}
.smheader p {
  margin: 0;
  padding: 0;
}
.smheader .tophat {
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  background-color: #808080;
}
.smheader .topmenu {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
}
.smheader .topmenu img {
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
}
.header .tophat {
  background-color: #808080;
  height: 10px;
}
.header .minimenu {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.header .minimenu li {
  float: left;
  color: #3071e7;
}
.header .minimenu li:nth-child(-n+3):after {
  content: " | ";
  color: #000;
}
.header .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main .logo {
  flex: 1 30%;
}
.header .main .search {
  flex: 2 70%;
  text-align: right;
  padding-right: 10px;
}
.header .social {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.header .menu {
  color: #fff;
  background-color: #000;
  overflow: auto;
}
.header .menu ul {
  padding: 5px;
}
@media (min-width: 500px) {
  .header .menu ul li {
    float: left;
    padding: 2px;
  }
  .header .menu ul li:nth-child(-n+6):after {
    content: " | ";
  }
  .header .menu ul li:nth-child(5) {
    background-color: #e6e6e6;
    color: #808080;
    padding: 0 2px;
  }
}
@media (min-width: 800px) {
  .header .menu ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .header .menu ul li:nth-child(5) {
    background-color: #e6e6e6;
    color: #808080;
    padding: 0 20px;
  }
}
.wraprail {
  max-width: 1300px;
  margin: auto;
  padding: 1.25rem;
  display: flex;
}
@media (max-width: 800px) {
  .wraprail {
    flex-direction: column;
  }
}
.wraprail .article {
  flex: 3;
  padding-right: 1.25rem;
}
@media (max-width: 800px) {
  .wraprail .article {
    padding: 0;
  }
}
.wraprail .sidebar {
  flex: 1;
}
@media (max-width: 800px) {
  .wraprail .sidebar {
    padding-margin: 20px;
  }
}
@media (min-width: 1025px) {
  .leftrail .wraprail {
    flex-direction: row-reverse;
  }
}
.slim-footer {
  background-color: #e6e6e6;
  padding: 20px;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .slim-footer .top {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .slim-footer .top li:nth-child(-n+6):after {
    content: " | ";
  }
}
@media (min-width: 800px) {
  .slim-footer .subnav {
    flex: 1 60%;
  }
  .slim-footer .subnav li {
    float: left;
  }
}
.slim-footer .SAMHDA {
  flex: 1 40%;
  display: flex;
  padding-top: 20px;
}
.slim-footer .SAMHDA img {
  flex: 1;
  padding-right: 10px;
}
.slim-footer .SAMHDA p {
  flex: 2;
}
@media (min-width: 800px) {
  .slim-footer .SAMHDA {
    padding: 0;
  }
}
.slim-footer .copyright {
  font-size: 13px;
  line-height: 14px;
}
.report-footer {
  font-size: 14px;
  line-height: 16px;
}
.report-footer p:nth-child(2) {
  margin: 0;
  padding: 0;
}
div.title_announcements {
  display: Flex;
}
div.title_announcements h2.announcement_title {
  flex: 3;
}
div.title_announcements div.sortby {
  display: flex;
  flex: 1;
}
h3.archives {
  margin: 0;
}
div.announcement_card {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.headline {
  display: flex;
}
.headlinename {
  flex: 4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.datepublished {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.readmore {
  margin-left: 0;
  font-size: 14px;
}
.readmore .author {
  font-size: 14px;
}
.announcement_list {
  padding: 25px 0 25px 0;
}
.announcement_list .content {
  display: flex;
  justify-content: space-between;
}
.announcement_list img.newimg {
  display: flex;
  width: 200px;
  height: 120px;
  padding-top: 20px;
}
.announcement_list div.desc {
  display: flex;
  font-size: 14px;
}
.archiveitem {
  margin: 40px 0 40px 0;
  font-size: 14px;
}
.archiveitem .archivetitle .title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.archiveitem .datepub {
  font-style: italic;
  margin-bottom: 10px;
}
h2.headline {
  padding: 0 20px 20px 20px;
}
h4.authoranddate {
  padding: 0 20px 20px 20px;
  margin-top: 20px;
  display: Flex;
}
h4.authoranddate .author {
  flex: 2;
}
h4.authoranddate .date {
  flex: 1;
  font-style: italic;
}
div.introtext {
  display: flex;
}
@media (min-width: 800px) {
  div.introtext {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  div.introtext {
    flex-direction: column;
  }
}
div.introtext img.annimage {
  flex: 1;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  max-height: 300px;
}
div.introtext .intro {
  flex: 3;
  padding: 30px 0 20px 0;
}
div.bodytext {
  font-size: 16px;
  padding: 0 20px 20px 20px;
}
div.social {
  display: Flex;
}
div.social .sharethis {
  flex: 1;
  padding: 30px 0 20px 20px;
}
div.social .socialicons {
  flex: 4;
}
div.social .socialicons .fa {
  flex: 2;
  font-size: 25px;
  margin: 0 10px 0 10px;
  padding: 30px 0 20px 20px;
}
h3.relatednews {
  padding: 30px 0 0 20px;
}
div.relatedlist {
  display: flex;
}
div.relatedlist .relatednews {
  padding: 40px 20px 20px 20px;
  flex: 3;
}
div.relatedlist .relatednews .title {
  font-weight: bold;
}
.barometers .otherreports {
  margin: 6.25rem 0;
  padding: 0.3125rem;
  border-top: 1px solid #808080;
}
.barometers .collapse {
  display: none;
}
.barometers #state {
  columns: 2;
}
@media (min-width: 800px) {
  .barometers #state {
    columns: 3;
  }
}
@media (min-width: 1025px) {
  .barometers #state {
    columns: 4;
  }
}
.barometers .downloads-figures {
  display: none;
}
.barometers .downloads-pdf {
  display: none;
}
@media (min-width: 800px) {
  .static .article {
    order: 2;
  }
  .static .sidebar {
    order: 1;
  }
}
.static .headerblock {
  width: 100%;
  height: 150px;
  background-color: #e6e6e6;
  margin-bottom: 1.5625rem;
}
.static .content-secondary-menu {
  margin-right: 10px;
}
.static .content-secondary-menu li {
  color: #3071e7;
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}
.frame {
  display: flex;
}
@media (min-width: 861px) {
  .frame {
    flex-direction: row;
  }
}
@media (max-width: 860px) {
  .frame {
    flex-direction: column;
  }
}
.container {
  flex: 1;
}
@media (max-width: 1800px) {
  .container {
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .container {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .container {
    font-size: 12px;
    line-height: 1.4em;
  }
}
@media (max-width: 500px) {
  .container {
    font-size: 10px;
    line-height: 1.6em;
  }
}
.sidepane {
  flex: 1;
  background-color: #eee;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}
@media (min-width: 1025px) {
  .sidepane {
    flex-direction: row;
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  .sidepane {
    flex-direction: column;
    margin: 50px 60px 0 60px;
  }
}
.sidepane .docs {
  flex: 1;
  padding: 20px;
  padding-top: 60px;
  font-size: 20px;
}
.sidepane .docs .doc {
  display: flex;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 10px;
  text-decoration: none;
}
.sidepane .docs .doc a.docname {
  flex: 2;
}
.sidepane .docs .doc .far {
  flex: 0.5;
}
.sidepane .docs .doc .fa-file-pdf {
  color: #f00;
  font-size: 20px;
  margin: auto;
}
.sidepane .docs .doc .fas {
  flex: 0.5;
}
.sidepane .docs .doc .fa-table {
  color: #008000;
  font-size: 20px;
  margin: auto;
}
div.banner {
  width: 100%;
  background-color: #c0c0c0;
  text-align: center;
}
div.banner h2.table_title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
div.banner h4.tag {
  padding-bottom: 20px;
  font-size: 1em;
}
a.back {
  font-size: 18px;
}
.container {
  margin-left: 5em;
}
.container h3.dasis_title {
  margin-top: 50px;
  margin-bottom: 50px;
}
div.container-table {
  margin-left: 2em;
  margin-right: 2em;
}
div.alter_table_section {
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
}
@media (min-width: 800px) {
  div.alter_table_section {
    display: flex;
  }
}
@media (max-width: 800px) {
  div.alter_table_section {
    display: block;
  }
}
@media (min-width: 1025px) {
  div.alter_table_section {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  div.alter_table_section {
    flex-direction: column;
  }
}
div.alter_table_section .refresh_table {
  background-color: #eee;
  padding: 20px;
}
@media (min-width: 1025px) {
  div.alter_table_section .refresh_table {
    display: flex;
  }
}
@media (max-width: 800px) {
  div.alter_table_section .refresh_table {
    display: block;
  }
}
div.alter_table_section .refresh_table .alter_opt {
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}
div.alter_table_section .refresh_table .alter_opt .alter_label {
  font-size: 16px;
  flex: 1;
}
div.alter_table_section .refresh_table .alter_opt .alter_dropdown {
  width: 100px;
}
div.alter_table_section .view_by {
  flex: 1;
  background-color: #92b1ef;
  padding: 20px;
}
div.alter_table_section .alter_opt {
  display: flex;
}
div.alter_table_section .alter_opt .alter_label {
  margin-top: 10px;
}
div.alter_table_section button.refresh {
  flex: 1;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
div.dataset_card {
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.title_row {
  display: flex;
}
.dataset_title {
  text-align: left;
  flex: 1;
}
.dataset_updated {
  text-align: right;
  flex: 1;
}
.dataset_desc {
  margin-top: 20px;
}
.select_dataset {
  display: flex;
  flex-direction: row;
}
.select_dataset .filter_opt {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
}
.select_dataset .filter_opt .states {
  flex: 0.05;
}
.select_dataset .filter_opt .years {
  flex: 0.1;
}
.select_dataset .seedata {
  border-radius: 3px;
  border-color: #4caf50;
  background-color: #4caf50;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .select_dataset .seedata {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 30px;
  }
}
a.buttonlink {
  color: #fff;
}
.export {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.export .export_label {
  margin-left: 0;
  font-size: 16px;
}
table.datatable {
  width: 100%;
  margin-top: 2em;
  background-color: #fff;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
}
@media (min-width: 1025px) {
  table.datatable {
    font-size: 14px;
  }
}
th.tabheader {
  background-color: #eee;
  padding-left: 5px;
  padding-right: 5px;
}
tr {
  background-color: #fff;
  border-left: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  background-color: #fff;
}
tr.innerrow {
  background-color: #edf9ff;
}
td.sticky {
  position: absolute;
  background-color: #92b1ef;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
  padding: 5px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #5280ff;
}
td.cell {
  background-color: #fff;
  text-align: center;
  padding: 5px;
}
.footer-dasis {
  margin-bottom: 40px;
}
h3.table_title {
  margin-top: 40px;
}
div.scroller {
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%;
}
.bells {
  display: Flex;
  margin-top: 20px;
}
.bells .pagination {
  display: inline-block;
}
.bells .pagination a {
  color: #000;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
}
.bells .pagination a.active {
  background-color: #075290;
  color: #fff;
}
.bells .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.bells .showentries {
  padding: 8px 30px;
  font-weight: bold;
}
div.youmightlike {
  margin-top: 150px;
  background-color: #eee;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
}
div.youmightlike .otherdata {
  font-size: 18px;
}
.moretables {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tablename {
  flex: 2;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 20px;
}
.tablename .tabledesc {
  font-size: 0.8em;
  font-weight: normal;
}
.viewdata_btn {
  flex: 0.5;
}
.viewdata_btn .seedata {
  width: 50%;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: #4caf50;
  border-radius: 3px;
  color: #fff;
}
.tabs {
  margin: 0 auto;
  min-width: 320px;
  max-width: 800px;
}
.content {
  background: #fff;
  color: #373737;
}
.content > div {
  display: none;
  padding: 20px 25px 5px;
}
input.tab {
  display: none;
}
label {
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #000;
  color: #3071e7;
}
label:hover {
  color: #154db3;
  cursor: pointer;
}
input:checked + label {
  color: #000;
  border: 1px solid #000;
  border-bottom: 0;
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
  display: block;
}
.faq {
  margin: 0 auto;
}
.filter-menu {
  margin-top: 20px;
}
h4 {
  font-weight: 400;
}
.faq-hero {
  height: 100px;
  width: 100%;
  padding: 2%;
  margin: 0;
  margin-bottom: 20px;
  background-color: #e6e6e6;
}
textarea {
  width: 300px;
  height: 100px;
}
.search-reports .search-reports-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-reports {
  with: 100%;
}
.search-reports h1 {
  padding: 20px;
}
@media (min-width: 1025px) {
  .search-reports h1 {
    margin-bottom: 120px;
  }
}
.search-reports .search-reports-form input {
  width: 50%;
}
.annoucements {
  margin: 50px 0px;
}
@media (min-width: 1025px) {
  .annoucements {
    margin: 50px 80px 0 80px;
  }
}
.annoucements p {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 24px;
}
.annoucements .kick {
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
}
.annoucements p.title {
  font-size: 1.5rem;
}
.topics {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
}
.topics ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
@media (min-width: 800px) {
  .topics ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.topics li {
  padding: 15px 0;
  color: #3071e7;
}
.hottops {
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}
.hottops h4 {
  font-weight: bold;
}
.home-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
@media (max-width: 800px) {
  .home-content {
    display: block;
  }
}
.home-content h3 {
  flex: 1 100%;
}
.home-content .latest-release {
  flex: 2;
  margin-bottom: 20px;
  padding-right: 1.25rem;
}
@media (max-width: 800px) {
  .home-content .latest-release {
    padding-right: 0;
    margin-bottom: 0px;
  }
}
.home-content .collections {
  flex: 1;
}
@media (max-width: 800px) {
  .home-content .collections {
    padding: 20px 0;
  }
}
.index h3 {
  margin-top: 50px;
}
.landing .headerblock {
  width: 100%;
  height: 250px;
  background-color: #e6e6e6;
  margin-bottom: 1.5625rem;
}
@media (min-width: 1025px) {
  .landing .pageheader {
    display: flex;
    align-items: center;
  }
  .landing .pageheader h1 {
    flex: 1;
    margin: 1em;
  }
  .landing .pageheader p {
    flex: 2;
    margin: 1em;
  }
}
@media (min-width: 800px) {
  .landing .contentblock {
    display: flex;
  }
  .landing .contentblock .c-content {
    flex: 1;
  }
  .landing .contentblock .c-gallery {
    flex: 1;
  }
}
@media (min-width: 800px) and (min-width: 1025px) {
  .landing .contentblock .c-gallery {
    flex: 2;
  }
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery .gallery-item {
  margin: 1em;
  width: 100%;
  min-width: 33%;
}
@media (min-width: 1025px) {
  .gallery .gallery-item {
    width: 20%;
  }
}
.gallery .g-image {
  width: 100%;
  height: 150px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}
.gallery .g-title {
  color: #3071e7;
  margin-bottom: 10px;
  font-size: 1.375rem;
}
@media (min-width: 1025px) {
  .gallery .g-title {
    font-size: 1.5rem;
  }
}
.gallery-item:nth-child(4n) .g-image {
  display: none;
}
.gallery-item:nth-child(4n) .g-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.methodology .btn {
  margin-right: 1em;
}
.methodology .article li {
  list-style: disc;
  margin: 1rem;
  display: list-item;
}
.methodology .downloads-pdf {
  display: none;
}
div.nsduh div.section1 div.filters_set {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: normal;
}
div.nsduh div.section1 div.filters_set div#accordion.panel-group div.panel.panel-default .panel-heading a.accordion-toggle:after {
  background-image: url("stuff/img/chevron-right-solid.svg");
  float: right;
  color: #808080;
}
div.nsduh div.section1 div.filters_set div#accordion.panel-group div.panel.panel-default .panel-heading a.accordion-toggle.collapsed:after {
  background-image: url("stuff/img/chevron-right-solid.svg");
}
div.nsduh div.section2 div.row {
  font-size: 0.6em;
  margin-top: 1em;
  margin-left: 0em;
  font-weight: normal;
}
div.nsduh div.section2 div.row div.crumbs {
  margin-left: 2em;
}
@media (min-width: 1025px) {
  div.nsduh div.section2 div.row.sorting,
  div.nsduh div.section2 .row.trim {
    font-size: 1em;
    margin-right: 3em;
  }
}
@media (max-width: 1025px) {
  div.nsduh div.section2 div.row.sorting,
  div.nsduh div.section2 .row.trim {
    flex-direction: column;
    font-size: 1em;
    padding: 2em;
  }
}
div.nsduh div.section2 div.row {
  display: Flex;
  flex-direction: row;
}
div.nsduh div.section2 a.pill {
  margin-left: 1em;
  margin-right: 1em;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  background-color: #278;
  color: #fff;
  font-size: 0.6em;
}
@media (min-width: 1025px) {
  .search .mobile {
    display: none;
  }
}
.search .search-reports-form {
  margin-bottom: 20px;
}
.search .toggleon {
  padding-bottom: 5px;
}
.search .toggleon i {
  margin-left: 50px;
}
.search .viewer:before {
  content: " | ";
}
@media (max-width: 800px) {
  .search .viewer:before {
    content: "\A";
    white-space: pre;
  }
}
@media (max-width: 800px) {
  .search #refine-results {
    display: none;
  }
}
.search .article {
  order: 2;
}
.search .sidebar {
  order: 1;
  padding-right: 20px;
}
.search h1 {
  margin: 0 0 20px;
}
.search h4 {
  margin: 0;
  padding: 0;
}
.search .searchresultslist {
  margin: 30px 0 0 0;
}
.search .reportlisting {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3b3b3;
}
.search .reportlisting .listing-title {
  color: #3071e7;
}
.search .reportlisting .listing-meta {
  font-size: 0.75rem;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 0.75rem;
}
.search .reportlisting .listing-branch {
  margin-right: 0.625rem;
  font-style: italic;
  flex: 1;
}
.search .reportlisting .listing-dates {
  flex: 1;
}
.search .reportlisting .list-collection {
  border-right: 1px solid #b3b3b3;
  padding-right: 0.3125rem;
  margin-right: 0.3125rem;
}
.search .reportlisting span {
  margin: 5px;
}
.filter {
  display: none;
}
.filter p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.filter input {
  width: 3em;
  color: cl-gray;
}
.filter .states input {
  width: 5em;
}
.filter i {
  padding: 0;
  margin: 0;
}
.ispace i {
  padding: 0 10px;
}
.filter-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #b3b3b3;
}
.filter-group {
  margin-bottom: 20px;
}
.filter-scroll {
  height: 150px;
  overflow: scroll;
  overflow-y: scroll;
}
.inbrief {
  margin-left: 20px;
}
.inbrief li {
  display: list-item;
}
.collapse {
  display: none;
}
.report-footer {
  display: none;
}
.shortreport .samhda {
  margin-top: 30px;
}
.spotlight .wrap {
  max-width: 50rem;
  margin: auto;
  padding: 20px;
}
.spotlight .downloads-item {
  margin: 20px 0;
}
.survey h3 {
  margin-top: 2rem;
}
.survey input {
  width: 100px;
  height: 23px;
}
.survey .thirdmenu h3 {
  margin-top: 1rem;
}
.survey .thirdmenu li {
  color: #3071e7;
  border-bottom: 1px solid #000;
  margin-right: 1rem;
  padding: 5px;
}
.survey .thirdmenu .fourth {
  margin-left: 1rem;
}
.survey .thirdmenu .highlight {
  color: #fff;
  background-color: #808080;
}
.survey .latest-teds li {
  display: list-item;
  color: #3071e7;
  margin-left: 1.5rem;
}
.survey .surveyimg {
  width: 45%;
  margin: 15px;
  float: left;
}
.survey .questionaires {
  border: 1px solid #000;
  padding: 10px;
}
.survey .sidebar,
.survey .sidebarright {
  padding-left: 15px;
}
.survey .typelist {
  color: #3071e7;
}
.survey .survey-logo {
  padding-top: 20px;
  padding-bottom: 40px;
}
.tables-collection h3 {
  margin-top: 1rem;
}
.tables-collection .WhatNsduh {
  border-top: 1px solid #000;
  margin-top: 1rem;
}
.tables-collection .links {
  color: #3071e7;
}
.tables-collection .links li {
  list-style: disc;
  margin: 1rem;
  display: list-item;
}
.tables-collection #state {
  display: none;
}
.toc-rightrail .sidebar li {
  color: #3071e7;
  line-height: 1.75rem;
}
.toc-rightrail .related-resources {
  margin-top: 2rem;
}
.search-mod {
  padding-top: 100px;
}
@media (max-width: 800px) {
  .search-mod {
    padding: 20px;
  }
}
.breadcrumb {
  display: none;
/*margin: 0 0 0 20px
  a, i
    margin: 0 5px 0 0
  @media(max-width: $md)
    display: none*/
}
.collections li {
  color: #3071e7;
  line-height: 2rem;
}
.collections .request {
  background-color: #3071e7;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  width: 80%;
  text-align: center;
}
.downloads {
  margin: 0 0 20px;
}
@media (max-width: 800px) {
  .downloads {
    display: flex;
  }
  .downloads .downloads-item {
    justify-content: flex-start;
    padding: 10px 5px 0 0;
  }
}
.endnote {
  font-weight: bold;
  padding: 0.1%;
  padding-right: 0.3125rem;
}
.endnote:before {
  content: "[";
  color: #3071e7;
}
.endnote:after {
  content: "]";
  color: #3071e7;
}
.endnotes-inline sup {
  color: #808080;
  padding-right: 0.625rem;
}
.figure {
  border: 1px solid #000;
  padding: 0.3125rem;
  margin: 1rem 0 1rem 0;
}
@media (max-width: 500px) {
  .figure {
    display: none;
  }
}
.figure-title {
  font-weight: bold;
}
.figure-description {
  font-style: italic;
  font-size: 0.75rem;
}
.figure-sm {
  display: flex;
  justify-content: space-between;
}
.figure-sm .figure-image {
  filter: grayscale(1);
  margin-right: 20px;
  height: auto;
}
@media (min-width: 500px) {
  .figure-sm {
    display: none;
  }
}
.gethelp .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .gethelp .content {
    display: block;
  }
}
.gethelp .content input {
  width: 80%;
}
.gethelp .form {
  flex: 2;
  padding-right: 1.25rem;
}
@media (max-width: 800px) {
  .gethelp .form {
    padding: 0;
  }
}
.gethelp .more {
  flex: 1;
}
.latest-release p {
  margin: 0;
  padding: 0;
}
.latest-release p.title {
  color: #3071e7;
}
.latest-release p.title:before {
  content: "•  ";
}
.latest-release p.meta {
  font-size: 14px;
  margin-bottom: 1rem;
}
.modal {
  display: none;
  position: relative;
}
.modal .modal-content {
  border: 1px solid #e6e6e6;
  position: absolute;
  z-index: 100;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
}
.modal .modal-content .copybox {
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 5px;
  box-shadow: inset 0 0 10px #000;
}
.sidebar .modal-content,
.sidebar1 .modal-content,
.sidebar2 .modal-content {
  top: 0;
  bottom: auto;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination input {
  width: 20px;
  text-align: center;
}
.pagination i {
  padding: 2px;
}
.related-resources .content {
  display: flex;
  justify-content: flex-start;
}
.related-resources .btn {
  margin: 20px 5px;
}
@media (min-width: 1025px) {
  .wrapfoursquare .related-resources .content,
  .wraprail .related-resources .content {
    display: block;
  }
}
@media (min-width: 1025px) {
  .wrapfoursquare .related-resources .btn,
  .wraprail .related-resources .btn {
    margin: 20px 0;
  }
}
.report-header .report-header-body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .report-header .report-header-body {
    display: block;
  }
}
.report-header .report-head-content {
  flex: 1;
}
.report-header .report-head-image {
  flex: 1;
  margin-right: 40px;
}
.report-header .label {
  font-weight: 600;
}
.report-header .kicker {
  background-color: #e6e6e6;
  padding: 0.3125rem;
  font-size: 0.875rem;
}
.report-header p {
  margin: 0 0 5px;
}
.samhda {
  margin-bottom: 20px;
}
.samhda .samhda-content p {
  margin-top: 0;
  padding-top: 0;
}
.toc {
  display: none;
}
@media (min-width: 1025px) {
  .toc {
    display: block;
  }
  .toc li {
    color: #3071e7;
  }
}
.tocsm {
  background-color: #e6e6e6;
}
.tocsm ul {
  display: none;
}
.tocsm img {
  margin-left: 10px;
}
@media (min-width: 1025px) {
  .tocsm {
    display: none;
  }
}
.frame {
  display: flex;
}
@media (min-width: 861px) {
  .frame {
    flex-direction: row;
  }
}
@media (max-width: 860px) {
  .frame {
    flex-direction: column;
  }
}
.container {
  flex: 1;
}
@media (max-width: 1800px) {
  .container {
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .container {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .container {
    font-size: 12px;
    line-height: 1.4em;
  }
}
@media (max-width: 500px) {
  .container {
    font-size: 10px;
    line-height: 1.6em;
  }
}
.sidepane {
  flex: 1;
  background-color: #eee;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}
@media (min-width: 1025px) {
  .sidepane {
    flex-direction: row;
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  .sidepane {
    flex-direction: column;
    margin: 50px 60px 0 60px;
  }
}
.sidepane .docs {
  flex: 1;
  padding: 20px;
  padding-top: 60px;
  font-size: 20px;
}
.sidepane .docs .doc {
  display: flex;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 10px;
  text-decoration: none;
}
.sidepane .docs .doc a.docname {
  flex: 2;
}
.sidepane .docs .doc .far {
  flex: 0.5;
}
.sidepane .docs .doc .fa-file-pdf {
  color: #f00;
  font-size: 20px;
  margin: auto;
}
.sidepane .docs .doc .fas {
  flex: 0.5;
}
.sidepane .docs .doc .fa-table {
  color: #008000;
  font-size: 20px;
  margin: auto;
}
div.banner {
  width: 100%;
  background-color: #c0c0c0;
  text-align: center;
}
div.banner h2.table_title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
div.banner h4.tag {
  padding-bottom: 20px;
  font-size: 1em;
}
a.back {
  font-size: 18px;
}
.container {
  margin-left: 5em;
}
.container h3.dasis_title {
  margin-top: 50px;
  margin-bottom: 50px;
}
div.container-table {
  margin-left: 2em;
  margin-right: 2em;
}
div.alter_table_section {
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
}
@media (min-width: 800px) {
  div.alter_table_section {
    display: flex;
  }
}
@media (max-width: 800px) {
  div.alter_table_section {
    display: block;
  }
}
@media (min-width: 1025px) {
  div.alter_table_section {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  div.alter_table_section {
    flex-direction: column;
  }
}
div.alter_table_section .refresh_table {
  background-color: #eee;
  padding: 20px;
}
@media (min-width: 1025px) {
  div.alter_table_section .refresh_table {
    display: flex;
  }
}
@media (max-width: 800px) {
  div.alter_table_section .refresh_table {
    display: block;
  }
}
div.alter_table_section .refresh_table .alter_opt {
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}
div.alter_table_section .refresh_table .alter_opt .alter_label {
  font-size: 16px;
  flex: 1;
}
div.alter_table_section .refresh_table .alter_opt .alter_dropdown {
  width: 100px;
}
div.alter_table_section .view_by {
  flex: 1;
  background-color: #92b1ef;
  padding: 20px;
}
div.alter_table_section .alter_opt {
  display: flex;
}
div.alter_table_section .alter_opt .alter_label {
  margin-top: 10px;
}
div.alter_table_section button.refresh {
  flex: 1;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
div.dataset_card {
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.title_row {
  display: flex;
}
.dataset_title {
  text-align: left;
  flex: 1;
}
.dataset_updated {
  text-align: right;
  flex: 1;
}
.dataset_desc {
  margin-top: 20px;
}
.select_dataset {
  display: flex;
  flex-direction: row;
}
.select_dataset .filter_opt {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
}
.select_dataset .filter_opt .states {
  flex: 0.05;
}
.select_dataset .filter_opt .years {
  flex: 0.1;
}
.select_dataset .seedata {
  border-radius: 3px;
  border-color: #4caf50;
  background-color: #4caf50;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .select_dataset .seedata {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 30px;
  }
}
a.buttonlink {
  color: #fff;
}
.export {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.export .export_label {
  margin-left: 0;
  font-size: 16px;
}
table.datatable {
  width: 100%;
  margin-top: 2em;
  background-color: #fff;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
}
@media (min-width: 1025px) {
  table.datatable {
    font-size: 14px;
  }
}
th.tabheader {
  background-color: #eee;
  padding-left: 5px;
  padding-right: 5px;
}
tr {
  background-color: #fff;
  border-left: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  background-color: #fff;
}
tr.innerrow {
  background-color: #edf9ff;
}
td.sticky {
  position: absolute;
  background-color: #92b1ef;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
  padding: 5px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #5280ff;
}
td.cell {
  background-color: #fff;
  text-align: center;
  padding: 5px;
}
.footer-dasis {
  margin-bottom: 40px;
}
h3.table_title {
  margin-top: 40px;
}
div.scroller {
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%;
}
.bells {
  display: Flex;
  margin-top: 20px;
}
.bells .pagination {
  display: inline-block;
}
.bells .pagination a {
  color: #000;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
}
.bells .pagination a.active {
  background-color: #075290;
  color: #fff;
}
.bells .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.bells .showentries {
  padding: 8px 30px;
  font-weight: bold;
}
div.youmightlike {
  margin-top: 150px;
  background-color: #eee;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
}
div.youmightlike .otherdata {
  font-size: 18px;
}
.moretables {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tablename {
  flex: 2;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 20px;
}
.tablename .tabledesc {
  font-size: 0.8em;
  font-weight: normal;
}
.viewdata_btn {
  flex: 0.5;
}
.viewdata_btn .seedata {
  width: 50%;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: #4caf50;
  border-radius: 3px;
  color: #fff;
}
div.title_announcements {
  display: Flex;
}
div.title_announcements h2.announcement_title {
  flex: 3;
}
div.title_announcements div.sortby {
  display: flex;
  flex: 1;
}
h3.archives {
  margin: 0;
}
div.announcement_card {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.headline {
  display: flex;
}
.headlinename {
  flex: 4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.datepublished {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.readmore {
  margin-left: 0;
  font-size: 14px;
}
.readmore .author {
  font-size: 14px;
}
.announcement_list {
  padding: 25px 0 25px 0;
}
.announcement_list .content {
  display: flex;
  justify-content: space-between;
}
.announcement_list img.newimg {
  display: flex;
  width: 200px;
  height: 120px;
  padding-top: 20px;
}
.announcement_list div.desc {
  display: flex;
  font-size: 14px;
}
.archiveitem {
  margin: 40px 0 40px 0;
  font-size: 14px;
}
.archiveitem .archivetitle .title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.archiveitem .datepub {
  font-style: italic;
  margin-bottom: 10px;
}
h2.headline {
  padding: 0 20px 20px 20px;
}
h4.authoranddate {
  padding: 0 20px 20px 20px;
  margin-top: 20px;
  display: Flex;
}
h4.authoranddate .author {
  flex: 2;
}
h4.authoranddate .date {
  flex: 1;
  font-style: italic;
}
div.introtext {
  display: flex;
}
@media (min-width: 800px) {
  div.introtext {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  div.introtext {
    flex-direction: column;
  }
}
div.introtext img.annimage {
  flex: 1;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  max-height: 300px;
}
div.introtext .intro {
  flex: 3;
  padding: 30px 0 20px 0;
}
div.bodytext {
  font-size: 16px;
  padding: 0 20px 20px 20px;
}
div.social {
  display: Flex;
}
div.social .sharethis {
  flex: 1;
  padding: 30px 0 20px 20px;
}
div.social .socialicons {
  flex: 4;
}
div.social .socialicons .fa {
  flex: 2;
  font-size: 25px;
  margin: 0 10px 0 10px;
  padding: 30px 0 20px 20px;
}
h3.relatednews {
  padding: 30px 0 0 20px;
}
div.relatedlist {
  display: flex;
}
div.relatedlist .relatednews {
  padding: 40px 20px 20px 20px;
  flex: 3;
}
div.relatedlist .relatednews .title {
  font-weight: bold;
}
div.nsduh div.section1 div.filters_set {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: normal;
}
div.nsduh div.section1 div.filters_set div#accordion.panel-group div.panel.panel-default .panel-heading a.accordion-toggle:after {
  background-image: url("stuff/img/chevron-right-solid.svg");
  float: right;
  color: #808080;
}
div.nsduh div.section1 div.filters_set div#accordion.panel-group div.panel.panel-default .panel-heading a.accordion-toggle.collapsed:after {
  background-image: url("stuff/img/chevron-right-solid.svg");
}
div.nsduh div.section2 div.row {
  font-size: 0.6em;
  margin-top: 1em;
  margin-left: 0em;
  font-weight: normal;
}
div.nsduh div.section2 div.row div.crumbs {
  margin-left: 2em;
}
@media (min-width: 1025px) {
  div.nsduh div.section2 div.row.sorting,
  div.nsduh div.section2 .row.trim {
    font-size: 1em;
    margin-right: 3em;
  }
}
@media (max-width: 1025px) {
  div.nsduh div.section2 div.row.sorting,
  div.nsduh div.section2 .row.trim {
    flex-direction: column;
    font-size: 1em;
    padding: 2em;
  }
}
div.nsduh div.section2 div.row {
  display: Flex;
  flex-direction: row;
}
div.nsduh div.section2 a.pill {
  margin-left: 1em;
  margin-right: 1em;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  background-color: #278;
  color: #fff;
  font-size: 0.6em;
}
