div.slim-footer
  div.top
    div.subnav
      ul
        li Home 
        li Reports and Data Tables
        li How We Collect 
        li Our Evaluation Methods
        li Our Data Integrity
        li FAQs 
        li About CBHSQ
    div.SAMHDA
      img(src="http://placehold.it/100x75") 
      p The Substance Abuse and Mental Health Data Archive (SAMHDA) provides the files and information necessary to replicate CBHSQ's analysis 
        a View our Data Archive
