.barometers
  .otherreports
    margin: 6.25rem 0
    padding 0.3125rem
    border-top: 1px solid c-dk-gray
  .collapse
    display none
  #state
    columns 2
    @media(min-width: $md)
      columns 3
    @media(min-width: $lg)
      columns 4
  .downloads-figures
    display: none
  .downloads-pdf
    display: none
