.static
  @media (min-width: $md)
    .article
      order: 2
    .sidebar
      order: 1
  .headerblock
      width 100%
      height 150px
      background-color c-lt-gray
      margin-bottom 1.5625rem

  .content-secondary-menu
    margin-right 10px
    li
      color c-link
      padding 5px
      border-bottom 1px solid c-lt-gray
