.inbrief
  margin-left: 20px
  li
    display: list-item

.collapse
  display: none

.report-footer
  display: none
  //they decided that this is not needed.

.shortreport
  .samhda
    margin-top: 30px
