.survey
  h3
    margin-top: 2rem
  input
    width 100px
    height 23px

  .thirdmenu
    h3
      margin-top 1rem
    li
      color c-link
      border-bottom 1px solid c-ink
      margin-right 1rem
      padding 5px
    .fourth
      margin-left 1rem
    .highlight
      color white
      background-color: gray
  .latest-teds
    li
      display: list-item
      color c-link
      margin-left 1.5rem
  .surveyimg
    width 45%
    margin 15px
    float: left
  .questionaires
    border 1px solid black
    padding 10px
  .sidebar, .sidebarright
    padding-left: 15px
  .typelist
    color c-link
  .survey-logo
    padding-top: 20px
    padding-bottom: 40px
