.tables-collection
  h3
    margin-top 1rem
  .WhatNsduh
    border-top: 1px solid black
    margin-top 1rem
  .links
    color: c-link
    li
      list-style: disc
      margin: 1rem
      display: list-item
  #state
    display: none
