extends layouts/landing

block append config
  - var bodyClass = 'index'
  
block append main
  h3 In Process
  h3 Survey Pages
  ul
    li 
      a(href="survey-dasis.html") Survey landing - BHSIS
      
  h3 NSDUH Landing Pages (From Topics)
  ul
    li
      a(href="survey-nsduh.html") NSDUH Landing page
    li
      a(href="survey-descriptions.html") Report Description Landing Page
    li 
       a(href="datasets.html") DASIS Data Tables
    li 
       a(href="announcements.html") New CBHSQ Announcement Page  
    li 
      a(href="nsduh_search.html") NSDUH Search Page
    li 
      a(href="/cbshq/site/Axure/HTML/cbhsq_reports/search_results__search.html") Axure screens  

    

    
