.collections
  li
    color: c-link
    line-height: 2rem
  .request
    background-color: c-link
    color: c-paper
    text-decoration:none
    padding:5px
    margin: 5px
    border-radius:3px
    width: 80%
    text-align: center
