.endnote
  font-weight: bold
  padding: .1%
  padding-right: 0.3125rem
.endnote:before
  content: "["
  color: c-link
.endnote:after
  content: "]"
  color: c-link

.endnotes-inline
  sup
    color: gray
    padding-right: 0.625rem
