.gethelp
  .content
    display: flex
    justify-content: space-between
    @media(max-width: $md)
      display: block
    input
      width: 80%
  .form
    flex: 2
    padding-right: 1.25rem;
    @media(max-width: $md)
      padding: 0
  .more
    flex: 1
