.report-header
  .report-header-body
    display: flex
    justify-content: space-between
    @media(max-width: $md)
      display: block
  .report-head-content
    flex: 1
  .report-head-image
    flex: 1
    margin-right: 40px
  .label
    font-weight: 600
  .kicker
    background-color: c-lt-gray
    padding: 0.3125rem
    font-size: 0.875rem
  p
    margin: 0 0 5px
