.toc
  display: none
  @media(min-width: $lg)
    display: block
    li
      color: c-link

.tocsm
  background-color: c-lt-gray
  ul
    display: none
  img
    margin-left: 10px
  @media(min-width: $lg)
    display: none
